body {
  
}
.container{
	width : 90%;
}

.hr{
	border: none;
	height: 1px;
	color: #333;
	background-color: #333;
}
.navbar {
  margin-bottom: 20px;
}

.box{
	border: 1px solid red;
	
}
.home-headline{
	font-family: Times new Roman,Times,serif;
	font-size: 24px;
	color: #fff;
	margin: auto;
	text-align: center;
	margin-top: -13px;
	
}
.home-headline span{
	background-color: #231F20;
	padding: 5px 22px;
} 
.section-headline{
	font-family: Times new Roman,Times,serif;
	font-size: 20px;
	color: #fff;
	margin: auto;
	text-align: center;
	margin-top: 12px;
}

.section-headline span{
	background-color: #231F20;
	padding: 5px 22px;
}


